html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.5;
}

html, body {
    margin: 20px 10px;
    padding: 0px;
}

body {
    height: 100%;
    font-family: 'Pingfang SC','微软雅黑',Verdana,'Helvetica Neue', Arial, 'Liberation Sans', sans-serif;
    font-weight: 300;
}

.container {
  max-width: 600px;
  margin: auto;
}