/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #333;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #e3e3e1;
    text-shadow: none;
}

::selection {
    background: #e3e3e1;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    font-family: "Lucida Sans Unicode",'Heiti SC','微软雅黑',Verdana,'Helvetica Neue', Arial, 'Liberation Sans', sans-serif;
}

aside {
    background: url(/img/trees.jpg);
    background-size: cover;
    display:block;
    border-right:1px solid #666;
    color: #fff;
    text-shadow: 1px 1px #333;
}

.aside-inner {
    text-align: center;
    width: 100%;
}

.aside-inner p {
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6,nav,ul,li {
    margin: 0px 0px;   
    padding: 0px 0px;
}

nav ul li {
    float: left;
}

nav {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

nav a {
    font-size: 12px;
    color: #999;
    text-decoration:none;
    margin-right: 20px;
    letter-spacing: 2px;
}

nav a.active, nav a:hover {
    color: #000;
    padding-bottom: 1px;    
    border-bottom: 1px solid #000;
}


.content_wrapper {
    padding-top: 60px;  
}

.blogs article h2 {
    font-size: 30px;    
    font-weight: bold;
}

.blogs article h2 a {
    display: block;
    color: #333;
    text-decoration: none;
}

.blogs article {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}

.blogs article .summary {
    line-height: 1.6;
}

.blogs article .summary a {
    color: #333;
    text-decoration: underline;
}

.blogs article .summary a:hover {
    color: #000;
}
li { list-style: none;}
.blogs article .meta {
    color: #999;
    margin-bottom: 12px;
}

.archives, .about {
    line-height: 1.6;
    font-size: 18px;
}

.archives h3 {
    font-size: 24px;
}

.archives a, .about a, .single a {
    color: #007C05;
    text-decoration: underline;
}
.archives li {
    list-style: none;
}
.archives .year {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.archives a:hover {
    text-decoration: underline;
}
.archives .postdate {
    font-size: 12px;
    color: #999;
    display: inline-block;
    width: 60px;

}
.single_wrapper {
    margin: 0 auto;
    max-width: 600px;
    margin-top: 80px;
}

.single article h2 {
    font-size: 36px;
}

.single article .meta {
    color: #999;
    font-size: 14px;
}

.single article .content {
    font-size: 18px;
    line-height: 1.6;
}

.single article .content p {
    margin: 1.5em 0px;
}

.single article .content blockquote {
    border-left: 4px solid green;
    margin: 0px 10px 0px 0px;
    padding-left: 20px;
    font-family: Georgia,STKaiti,KaiTi,KaiTi_GB2312;
}

.single article .content li {
    list-style: square;
}

.single .author {
    border-top: 4px solid #eee;
    border-bottom: 4px solid #eee;
    margin: 30px 0px;
    padding: 10px;
    text-align: center;
    color: green;
}

.single .comments {
    border-top: 4px solid #eee;
    padding-top: 30px;
    margin-top: 40px;
}

.home {
    position: fixed;
    background-color: #666;
    color: #fff;    
    left: 20px;
    top: 20px;
    font-size: 14px;
}

.home a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
}

.home a:hover {
    background-color: #222;
}

@media (max-width: 1000px) {
    aside {        
        height: 400px;
        overflow: hidden;  
    }
    .aside-inner {
        padding-top: 280px;
        text-align: left;
        margin-left: 10%;
    }
    .content_wrapper {
        width: 80%;
        margin-left: 10%;
    }
    .blogs article h2 {
        font-size: 24px;    
        font-weight: bold;
    }
    .blogs article .meta {
        font-size: 12px;    
    }
    
    .archives, .about {
        line-height: 1.6;
        font-size: 16px;
    }

    .archives h3 {
        font-size: 20px;
    }

    .single_wrapper {
        width: 80%;
    }

    .single article .content {
        font-size: 16px;
    }

    .home {
        position: absolute;
    }

}

@media (min-width: 1001px) {
    aside {
        height: 100%;
        width: 30%;
        max-width: 500px;
        position: fixed;
    }
    aside .aside-inner {
        bottom: 20%;
        position: absolute;
    }
    .content_wrapper {
        width: 58%;
        margin-left: 36%;
        max-width: 640px;
        overflow: hidden;  
    }
    .blogs article .meta {
        font-size: 16px;
    }
    
    .blogs article .summary {
        font-size: 18px;
    }

    .home {
        position: fixed;
    }

}














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
