html,
button,
input,
select,
textarea {
    color: #222;
}

html {
  font-size: 16px;
}

html, body {
    margin: 0px 10px 20px 10px;
    padding: 0px;
}

body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    text-align: justify;
    background-color: #fffff8;
    color: #111;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5;
}

a {
  color: #111;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 600px;
  margin: auto;
}

.blogs ul {
  margin: 0;
  padding-left: 20px;
}

.brand a {
  color: #222;
  font-weight: normal;
  text-decoration: none;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.single {
  padding-bottom: 60px;
  border-bottom: 1px solid #666;
/*  margin-bottom: 20px;*/
}
.meta { color: #666; font-style: italic; font-size: 12px;}

blockquote {
  font-family: Kaiti SC;
  border-left: 2px solid #ccc;
  padding-left: 10px;
  margin-left: 0px;
}
