html, body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background: #fff;
  color: #323232;
  font: 12px "Lucida Sans Unicode", "Myriad Pro", "Hiragino Sans GB", "Heiti SC", "微软雅黑", Verdana, Helvetica, sans-serif, SimHei, "黑体";  
}

.logo .l1 {
  color: #1f9303;
  text-shadow: 0 0 1px #1f9303;
}
.logo .l2 {
  color: #787489;
  text-shadow: 0 0 1px #787489;
}
.logo .l3 {
  color: #f26a82;
  text-shadow: 0 0 1px #f26a82;
}
.logo .l4 {
  color: #ff8000;
  text-shadow: 0 0 1px #ff8000;
}

.logo {
  margin-top: 30px;
  font-size: 20px;
}

.download {
  margin: 30px 0px;
}

.download_link {
  text-decoration: none;
}

#container {
  min-height: 500px;
  margin: 0 auto;
  max-width: 900px;
  width: 700px;
  text-align: center;
  background: #fff url(bg.png) repeat-x left bottom;
}