---
layout: new_all
title: 所有Blog
---

        <div class="container">
            <aside>
                <div class="aside-inner">
                    <h1>Michael Chen</h1>
                    <p>World in my view is a word of my view.</p>                
                </div>
            </aside>    
            
            <section class="content_wrapper">
                <nav>
                    <ul class="clearfix">
                        <li><a href="/">最新文章</a></li>
                        <li><a href="/archives.html" class="active">所有文章</a></li>
                        <li><a href="/about.html">关于我</a></li>
                    </ul>
                </nav>
                
                <div class="archives">
                  {% for post in site.posts %}
                    {% unless post.next %}
                      <div class="year">
                      <h3>{{ post.date | date: '%Y' }}</h3>
                      <ul>
                    {% else %}
                      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
                      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
                      {% if year != nyear %}
                        </ul></div>
                        <div class="year">
                        <h3>{{ post.date | date: '%Y' }}</h3>
                        <ul>
                      {% endif %}
                    {% endunless %}

                    <li>
                      <a href="{{ post.url }}">{{ post.title }}</a>
                      <span class="postdate">{{ post.date | date:"%b %d" }}</span>
                    </li>
                  {% endfor %}
                  </ul></div>
                </div>

            </section>

        </div>


