<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
<meta name="author" content="Michael Chen" />
<meta name="description" content="Michael Chen's Blog: world in my view is a word of my view" />
<meta property="og:title" content="Michael Chen's Blog" />
<meta property="og:description" content="Blog from Michael Chen" /> 
<title>{% if page.title %} {{ page.title }} | {% endif %} {{site.title}}</title>
<link rel="stylesheet" href="/css/master.css" />
<link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Michael Chen's Blog Feed" />
<noscript>
<link rel="stylesheet" href="/css/mobile.min.css" />
</noscript>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4f2576ae77545e13"></script>
<script>
// Edit to suit your needs.
var ADAPT_CONFIG = {
  // Where is your CSS?
  path: '/css/',

  // false = Only run once, when page first loads.
  // true = Change on window resize and page tilt.
  dynamic: true,

  // First range entry is the minimum.
  // Last range entry is the maximum.
  // Separate ranges by "to" keyword.
  range: [
    '0px    to 760px  = mobile.min.css',
    '760px  to 980px  = 720.min.css',
    '980px            = 960.min.css'
  ]
};
</script>
<script src="/js/adapt.min.js"></script>
</head>
<body>
<div class="container_12 bg">
  <div class="grid_12">
    <h1>
      {% if site.title %}
      <a href="{{site.url}}">{{site.title}}</a><div>World in my view is a word of my view</div>
      {% endif %}
    </h1>
  </div>
  <div class="grid_7">
    {{ content }}
  </div>
  <div class="grid_5 side">
   <div class="side_block">
    <h4>读听看</h4>
    <script type="text/javascript" src="http://www.douban.com/service/badge/mechiland/?show=collection&amp;n=8&amp;columns=4" ></script>
    </div>
    <div class="side_block">
      <h4>最近文章</h4>
    <ul>  
  {% for post in site.posts limit: 10 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
    </div> 
  </div>
<!--
  <hr class="grid_12">
  <div class="grid_7">
    IN THE MIDDLE
  </div>
  <hr class="grid_12" />
  <div class="grid_4">
    <h4>
      BOX 1
    </h4>
    <p>
      P 1
    </p>
  </div>
  <div class="grid_4 push_4">
    <h4>
      BOX 2
    </h4>
    <p>
      P2
    </p>
  </div>
  <div class="grid_4 pull_4">
    <h4>
      BOX 3
    </h4>
    <p>
      P 3
    </p>
  </div>
-->
  <hr class="grid_12" />
  <div class="grid_3">
    <p>
      <small>
       All right reserved.
      </small>
    </p>
  </div>
  <div class="grid_6 align_center">
    <p>
      <small>
        Powered by Github
      </small>
    </p>
  </div>
  <div class="grid_3 align_right">
    <p>
      <small>
        2012 we still alive.
      </small>
    </p>
  </div>
</div>
</body>
</html>
