{% include header.html %}
 <div class="grid_7">
    {{ content }}
  </div>
  <div class="grid_5 side">
    <div class="side_block">
      <h4>关于我</h4>
      <div>
        <img src="/img/michaelchen.jpg" style="float:left;margin-right: 4px;"/>陈金洲，工作于<a href="http://www.thoughtworks.com"><strong>Thought</strong>Works</a>公司，目前在西安。联系我，请发信至mechiland@gmail.com。<a href="/about.html">关于我</a>
        <div class="clear"></div>
      </div>
    </div>
    <div class="side_block">
      <a href="http://michael.nona.name/xiyuweibo/">细语微博, 新浪微博Mac客户端>></a>
    </div>
   <div class="side_block">
    <h4>读听看</h4>
    <script type="text/javascript" src="http://www.douban.com/service/badge/mechiland/?show=collection&amp;n=8&amp;columns=4" ></script>
    </div>
    <div class="side_block">
      <h4>最近文章</h4>
    <ul>  
  {% for post in site.posts limit: 10 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
    <li><a href="/archives.html">全部文章</a></li>
    </div>
        <div>
      <div id="cse" style="width: 100%;">Loading</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript"> 
  google.load('search', '1', {language : 'zh-CN', style : google.loader.themes.V2_DEFAULT});
  google.setOnLoadCallback(function() {
    var customSearchOptions = {};  var customSearchControl = new google.search.CustomSearchControl(
      '014265145281448332743:ehpow5xzdu4', customSearchOptions);
    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script>

    </div> 
    <div>
      <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=zh_cn&width=0&height=550&fansRow=1&ptype=0&speed=0&skin=-1&isTitle=1&noborder=0&isWeibo=1&isFans=0&uid=1409585182&verifier=857d834c&colors=f4f4f4,ffffff,666666,0082cb,ecfbfd&dpc=1"></iframe>
    </div>

  </div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'michaelchensblog'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
{% include footer.html %}
