{% include new_header.html %}
        <div class="container">
            <aside>
                <div class="aside-inner">
                    <h1>Michael Chen</h1>
                    <p>World in my view is a word of my view.</p>                
                </div>
            </aside>    
            
            <section class="content_wrapper">
                <nav>
                    <ul class="clearfix">
                        <li><a href="/" class="active">最新文章</a></li>
                        <li><a href="/archives.html">所有文章</a></li>
                        <li><a href="/about.html">关于我</a></li>
                    </ul>
                </nav>
                {{ content }}
            </section>

        </div>
{% include new_footer.html %}